! Configuration File for keepalived node
global_defs{
  script_user root root
}

vrrp_script check_command {
   script      {{ test_command }}
   timeout 5
   rise 3
   fall 3
}
vrrp_instance VI_1 {
    state MASTER
    interface {{ keepalive_interface }}
    virtual_router_id 51
    priority 101
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ virtual_ip }}
    }
    track_script {
        check_command
    }
}
